.input {
  width: 100%;
}

.input div {
  border-radius: 10px !important;
}

.input div input {
  background: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.inputLabel {
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  margin-top: 15px !important;
  margin-left: 5px !important;
}
