.title {
  font-size: 14px;
  font-weight: bold;
  margin: 20px;
}

.productImage {
  margin: 10px;
  border-radius: 10px;
}
.productTitle {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin: 15px 0 5px 0;
}

.productPrice {
  font-size: 14px;
  color: #000;
  margin: 0;
}

.orderNumber {
  font-size: 14px;
  font-weight: bold;
  color: rgb(141, 141, 141);
  margin: 0;
}
