.productImage {
  width: 75px;
  border-radius: 10px;
  border: 1px solid #E5E5E5 !important;
}

.Container {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  padding: 10px;
}

.Item {
  position: relative;
}

.DeleteButton {
  position: absolute !important;
  bottom: 0;
  right: 0;
  display: none !important;
}

.Item:hover .DeleteButton {
  display: block !important;
}

.AddImagePlaceholder {
  width: 75px;
  border-radius: 10px;
  border: 1px solid #E5E5E5;
  height: 100%;
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
}