.profileImage {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin-right: 15px;
  object-fit: cover;
  float: left;
}

.user {
  .text {
    line-height: 30px;
  }
}

.tableRow {
  &:hover {
    background-color: #b7dbee81 !important;
  }

  .tableCell {
    padding: 25px 15px;

    &:hover {
      border: none !important;
    }

    &:first-child {
      border-top-left-radius: 15px !important;
      border-bottom-left-radius: 15px !important;
    }
  }
}
